<!-- 헤더바 부분 -->
<header id="top" class="navbar" role="banner">
		<div class="container">
			<div class="inner">

				<div class="site-title">
					<h1><a href="index.html"><%= image_tag 'logo.png', width:'144', height:'52', alt:'Logo' %></a></h1>
					<a href="#site-menu" class="site-menu-toggle">
						<span class="sr-only">Toggle navigation</span>
						<em class="first"></em><em class="middle"></em><em class="last"></em>
					</a>
				</div>

				<div id="site-menu">
					<nav>
						<ul>
							<li><a href="index.html" class="menuBtn">Home</a></li>
							<li class="current-menu-item" class="menuBtn"><a href="about.html">About</a></li>
							<li><a href="project.html" class="menuBtn">Project</a></li>
							<li><a href="item.html" class="menuBtn">HanNol</a></li>
							<li><a href="media.html" class="menuBtn">Media</a></li>
							<li><a href="contact.html" class="menuBtn">Contact</a></li>
							
						</ul>
					</nav>
				</div>

			</div>
		</div>
	</header>
<!-- 헤더바 부분 종료 -->

<!-- 메인 부분 시작 -->

	<main id="content" class="white-background" role="main">
		<div class="container">
			<div class="inner">
			    <!-- 상단 이미지 삽입 부분 -->
				<%= image_tag 'about/front.jpg', width:'1240', height:'698', alt:'front' %>
				<div class="margin-4"></div>
				<div class="row">
					<div class="col-md-6">
						<h3>다양한 생각이 모여
						<br>그 생각들로 재미난
						<br>세상을 만드는 일,
						<br><B>AnT</B> 의 일 입니다.
						</h3>
						<div class="margin-4"></div>
					</div>
					<div class="col-md-6">
						<h5>AnT : Alley Entertainment</h5>
						

						<p>작은 골목길들이 모여 큰 길을 만들고 다시 그 큰 길들이 모여 하나의 도시를 형성하듯 
						재능 있는 개개인들이 모여 새롭고 가치 있는 문화를 만들고 선도해 나아가는 일,
						AnT의 열정입니다. 사회적 가치의 힘을 믿습니다.
						<br>우리는 누구나 꿈을 꾸고 있습니다. 스스로 자신의 꿈을 향해 나아가는 분들이 기회를 찾을 수 있도록
						함께 고민하고 생각을 나누려합니다.
						작지만 의미 있는 생각들이 모여 함께 소통하면 다양한 시각에서 문제를 해결할 수 있을 것입니다.
						다양한 생각이 모이고 그 생각들로 재미난 세상을 만드는 일.<br>
						문화기획사 AnT가 해야 할 일입니다.</p>
						<div class="margin-1"></div>
					</div>
					<div class="col-md-12 sign"><%=image_tag "about/sign.png", width:'40%'%><div class="margin-4"></div></div>
					<div class="margin-4"></div>
				
					<div class="col-md-12 sign"><%=image_tag "about/group.png" , width:'75%'%></div>
					
					
				</div>
				<div class="margin-4"></div>
				
				<div class="owl-carousel owl-services owl-red-dots">
					<div class="service-item">
						<h6>CONTENTS DESIGN</h6>
						<div class="sep red"></div>
						<div class="margin-1"></div>
						<p class="small">
							골목에서 마을까지
							<br>다양한 지역 사람들과의 소통을 통한
							<br> 우리 지역만의 특색 있는 맞춤형 문화콘텐츠 제작</p>
						<div class="margin-5"></div>
					</div>
					<div class="service-item">
						<h6>FESTIVAL DIRECTING</h6>
						<div class="sep red"></div>
						<div class="margin-1"></div>
						<p class="small">
							축제는 무조건 신나야 한다
							<br>고객의 컨셉에 맞춘 재미난 체험형 이벤트 기획
							<br>프로그램의 메뉴화를 통한 간편하고 즐거운 축제 기획</p>
						<div class="margin-5"></div>
					</div>
					<div class="service-item">
						<h6>DIRECTOR</h6>
						<div class="sep red"></div>
						<div class="margin-1"></div>
						<p class="small">
							생각이 문화를 만든다
							<br>독창적인 기획수립과 고객의 니즈를 최대한 충족하는
							<br>퀄리티 높은 기획</p>
						<div class="margin-5"></div>
					</div>
					<div class="service-item">
						<h6>PROMOTION</h6>
						<div class="sep red"></div>
						<div class="margin-1"></div>
						<p class="small">
							이성과 감성의 조화로운 프로모션
							<br>늘 새로운 시도와 아이디어로 승부하는 프로모션 사업 추진
						</p>
						<div class="margin-5"></div>
					</div>
					<div class="service-item">
						<h6>DESIGN</h6>
						<div class="sep red"></div>
						<div class="margin-1"></div>
						<p class="small">
							풍부한 경험과 고객중심의 마인드로 차별화된 디자인
							<br>온/오프라인 컨설팅, 기획, 디자인, 마케팅 등 통합 디자인 솔루션 제공
						</p>
						<div class="margin-5"></div>
					</div>
				</div>
				<div class="margin-3"></div>

				
				
				
				<!-- 클라이언트 소개 이미지 -->

				<div class="clients-grid">
					<div class="client">
						<a ><%= image_tag 'about/client/logo.png', width:'320', height:'220', alt:'client' %></a>
					</div>
					<div class="client">
						<a ><%= image_tag 'about/client/logo1.png', width:'320', height:'220', alt:'client' %></a>
					</div>
					<div class="client">
						<a ><%= image_tag 'about/client/logo2.png', width:'320', height:'220', alt:'client' %></a>
					</div>
					<div class="client">
						<a><%= image_tag 'about/client/logo3.png', width:'320', height:'220', alt:'client' %></a>
					</div>
					<div class="client">
						<a ><%= image_tag 'about/client/logo4.png', width:'320', height:'220', alt:'client' %></a>
					</div>
					<div class="client">
						<a ><%= image_tag 'about/client/logo5.png', width:'320', height:'220', alt:'client' %></a>
					</div>
					<div class="client">
						<a ><%= image_tag 'about/client/logo6.png', width:'320', height:'220', alt:'client' %></a>
					</div>
					<div class="client">
						<a ><%= image_tag 'about/client/logo7.png', width:'320', height:'220', alt:'client' %></a>
					</div>
					<div class="clear"></div>
				</div>
				
				
				
				<!-- 클라이언트 소개 이미지 끝 -->
				
			</div>
			<div class="margin-5"></div>

			<!-- 파트너 소개 파트 시작-->
			<div class="row">
				<div class="col-sm-12">
					<h6 class="text-center">COLLABORATE WITH</h6>
					<h5 class="text-center"><b>AnT</b> 파트너가 되어보아요.</h5>
					<div class="hot-container2">
						<p  style =" text-align:center ">
							<a href="contact.html" class="button filled text-center btnact" style="margin:0 auto;" >파트너 되기</a>
						</p>
					</div>
					
					<div class="margin-2"></div>
				</div>
				
			</div>
			
			<!-- 파트너 소개 파트 종료 -->
			<!-- About 하단 부분 이미지 -->
			<!-- 이미지 변경을 원하실 경우에 image_tag '' 내의 이미지 주소를 변경해 주시면 됩니다. -->
			<%= image_tag 'about/back.jpg', width:'1240', height:'500', alt:'back' %>
			<div class="margin-5"></div>
		</div>
	</main>


<!-- 메인 부분 종료 -->



<!-- 푸터바 부분 -->
	<footer id="footer" role="contentinfo">
		<div class="container">
			<p>
				<a href="index.html" class="mini-logo"><%= image_tag 'logo-footer.png', width:'90', height:'33', alt:'Logo' %></a>
			</p>
			<p>&copy; <b>AnT</b> 대표 임희용 │ 사업자등록번호. 722-09-00160
			<br>OFFICE. 천안 서북구 성환읍 대학로 91 남서울대학교 지식정보관 328호
			<br>Email. antcultures@gmail.com │ TEL. 010-8761-4235 </p>
			<p></p>
			<p>
				
				<a href="contact.html" class="social-link"><i class="fa fa-address-book"></i></a>
				<a href="https://www.youtube.com/channel/UCdJkxbgtoBqsXBFcQY9yhTA" class="social-link"><i class="fa fa-youtube-play"></i></a>
				<a href="https://www.facebook.com/AlleyNT/?fref=ts" class="social-link"><i class="fa fa-facebook"></i></a>
			</p>
		</div>
	</footer>
<!--푸터바 부분 종료 -->


<script>
		jQuery(".owl-carousel.owl-services").owlCarousel({
			items   : 4,
			margin  : 30,
			nav     : false,
			navText : ['', ''],
			dots    : true,
			loop    : true,
			responsive : {
				0: {
					items   : 1
				},
				768: {
					items   : 2
				},
				992: {
					items   : 3
				}
			}
		});

		jQuery(".owl-carousel.owl-testimonials2").owlCarousel({
			items   : 1,
			nav     : false,
			navText : ['', ''],
			dots    : true,
			loop    : true
		});
		
		$(".menuBtn").click(function(){
			 window.location.reload();
		})
		$(".btnact").click(function(){
			 window.location.reload();
		})
	</script>
