<!-- 헤더바 부분 -->
<header id="top" class="navbar" role="banner">
		<div class="container">
			<div class="inner">

				<div class="site-title">
					<h1><a href="index.html"><%= image_tag 'logo.png', width:'144', height:'52', alt:'Logo' %></a></h1>
					<a href="#site-menu" class="site-menu-toggle">
						<span class="sr-only">Toggle navigation</span>
						<em class="first"></em><em class="middle"></em><em class="last"></em>
					</a>
				</div>

				<div id="site-menu">
					<nav>
						<ul>
							<li ><a href="index.html" class="menuBtn">Home</a></li>
							<li><a href="about.html" class="menuBtn">About</a></li>
							<li class="current-menu-item" class="menuBtn"><a href="project.html">Project</a></li>
							<li><a href="item.html" class="menuBtn">HanNol</a></li>
							<li><a href="media.html" class="menuBtn">Media</a></li>
							<li><a href="contact.html" class="menuBtn">Contact</a></li>
							
						</ul>
					</nav>
				</div>

			</div>
		</div>
	</header>
<!-- 헤더바 부분 종료 -->

<!-- 메인 부분 시작 -->

<main id="content" class="mainview" role="main">
		<div class="container container-masonry">
			<div class="inner">
				<div class="row">
					<div class="box col-sm-4 col-md-6">
						<div class="thumb">
							<div class="photo">
								<a onclick="Show(1)">
									<%= image_tag 'project/1/main.jpg', width:'715', height:'715' %>
									<span class="info"><strong class="title">해방촌 청소년 강의</strong><span class="excerpt">해방촌 주민 커뮤니티 '달꽃창작소'의 학생들과 함께 마을 해설프로그램 진행</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a onclick="Show(2)">
									<%= image_tag 'project/2/main.jpg', width:'434', height:'434' %>
									
									<span class="info"><strong class="title">해방촌 마을지도 제작</strong><span class="excerpt">이색적인 스팟과 재미난 테마 코스, 특색 있는 상가들이 한데 어우러져 있는 해방촌 마을지도</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a onclick="Show(3)">
									<%= image_tag 'project/3/main.jpg', width:'434', height:'434' %>
									<span class="info"><strong class="title">해방촌 마을축제 기획</strong><span class="excerpt">학생들부터 노인까지 주민 모두가 축제 주최자이자 참가자가 되는 공존 페스티벌</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a onclick="Show(4)">
									<%= image_tag 'project/4/main.jpg', width:'434', height:'434' %>
									<span class="info"><strong class="title">온라인 취미공유 플랫폼 ‘UNIVALUE' 제작</strong><span class="excerpt">이곳에서 우리는 서로의 생각과 가치를 공유하며 이해하고 그를 통해 함께 성장해나갑니다</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a onclick="Show(5)">
									<%= image_tag 'project/5/main.jpg', width:'434', height:'434' %>
									<span class="info"><strong class="title">천안 원도심 활성화 프로젝트</strong><span class="excerpt">골목길 플레이 디렉터 지역콘텐츠 기획 프로젝트</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a onclick="Show(6)">
									<%= image_tag 'project/6/main.jpg', width:'434', height:'434' %>
									<span class="info"><strong class="title">전주 한옥마을 ‘달달수월래’ 퍼레이드 기획</strong><span class="excerpt">전주한옥마을의 멋스러움과 우리나라 전통놀이 강강술래를 알리는 제1회 ‘달달수월래’ 축제</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a onclick="Show(7)">
									<%= image_tag 'project/7/main.jpg', width:'434', height:'434' %>
									<span class="info"><strong class="title">전주 한옥마을 문화공간 ‘한복길’ 기획</strong><span class="excerpt">먹거리와 지루함에 숨겨진 한옥마을의 골목길과 우리의 아름다운 전통 의복 한복과의 만남 </span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a onclick="Show(8)">
									<%= image_tag 'project/8/main.jpg', width:'434', height:'434' %>
									<span class="info"><strong class="title">2016 남서울대학교 한복축제</strong><span class="excerpt">한복과 할로윈의 만남<br>2016 남서울대 한복축제 ‘한로윈’</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a onclick="Show(9)">
									<%= image_tag 'project/9/main.jpg', width:'434', height:'434' %>
									<span class="info"><strong class="title">2016 백석대학교 한복축제</strong><span class="excerpt">한복과 백의민족의 만남<br>2016 백석대학교 한복축제 ‘한복판’</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a onclick="Show(10)">
									<%= image_tag 'project/10/main.jpg', width:'434', height:'434' %>
									<span class="info"><strong class="title">전주문화공간 '한복길' 테마지도&캐릭터 제작</strong><span class="excerpt">전주한옥마을 문화공간 ‘한복길’<br>7가지 테마코스 ‘한복길’ 테마지도</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="box col-xs-6 col-sm-4 col-md-3">
						<div class="thumb">
							<div class="photo">
								<a onclick="Show(11)">
									<%= image_tag 'project/11/main.jpg', width:'434', height:'434' %>
									<span class="info"><strong class="title">천사책(천안사람들이야기책)</strong><span class="excerpt">“우리 이웃들의 이야기가 모이면 어떤 재미난 일이 일어날까?”<br>우리 지역 개인들의 이야기가 담겨있는 책입니다.</span><em class="arrow-right"></em></span>
								</a>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</main>





<!-- 메인 부분 종료 -->

<!-- 푸터바 부분 -->
	<footer id="footer" role="contentinfo">
		<div class="container">
			<p>
				<a href="index.html" class="mini-logo"><%= image_tag 'logo-footer.png', width:'90', height:'33', alt:'Logo' %></a>
			</p>
			<p>&copy; <b>AnT</b> 대표 임희용 │ 사업자등록번호. 722-09-00160
			<br>OFFICE. 천안 서북구 성환읍 대학로 91 남서울대학교 지식정보관 328호
			<br>Email. antcultures@gmail.com │ TEL. 010-8761-4235 </p>
			<p></p>
			<p>
				
				<a href="contact.html" class="social-link"><i class="fa fa-address-book"></i></a>
				<a href="https://www.youtube.com/channel/UCdJkxbgtoBqsXBFcQY9yhTA" class="social-link"><i class="fa fa-youtube-play"></i></a>
				<a href="https://www.facebook.com/AlleyNT/?fref=ts" class="social-link"><i class="fa fa-facebook"></i></a>
			</p>
		</div>
	</footer>
<!--푸터바 부분 종료 -->


<!-- 정보창  -->
	<main id="content" class="white-background moreinfo" role="main" >
		
		<%=image_tag "close.png", :id =>"close" %>
		<div class="container">
			<h2 class="single-title" id="info_title">The Nordic Branding</h2>
			<div id="info_pic" class="owl-carousel owl-thumbs">
				<div class="photo">
					<img src="" id="info_pic_1" width="1240" height="698" alt="">
				</div>
				<div class="photo">
					<img src="" id="info_pic_2" width="1240" height="698" alt="">
				</div>
				<div class="photo">
					<img src="" id="info_pic_3" width="1240" height="698" alt="">
				</div>
				<div class="photo">
					<img src="" id="info_pic_4" width="1240" height="698" alt="">
				</div>
				<div class="photo">
					<img src="" id="info_pic_5" width="1240" height="698" alt="">
				</div>
				
			</div>
			<div class="margin-3"></div>
			<div class="row">
				<div class="col-sm-4 col-md-3 project-properties">
					<h6 style="display:none">How</h6>
					<p style="display:none" id="info_how" class="small">The Nordic Smorrebrod Food</p>
					<h6>WHO</h6>
					<p id="info_who" class="small">AnT Cultures</p>
					<h6 style="display:none">WHEN</h6>
					<p  style="display:none" id="info_when" class="small">July 30th, 2015</p>
				</div>
				<div class="col-sm-8 col-md-8 col-md-offset-1">
					<h6>COMMENT</h6>
					<p id="info_com">The Nordic were very skeptical when they first contacted us. They are a startup Coffee house and a small chain of family restaurants. Their brief learly depicted that it wasn't simply a lorem ipsum or dream. His room, a proper human <a href="#">Themeforest Exa</a> a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table.</p>
					
					<div class="margin-1"></div>
					
				</div>
			</div>
	</main>

<script>
	$(document).ready(function(){
    	$(".moreinfo").hide("fast");
	})



	$(".menuBtn").click(function(){
			 window.location.reload();
		})
	
	function Show(num){
		$("#footer").hide();
		$("#top").hide();
		$(".mainview").hide("fast");
		$(".moreinfo").show("fast");
		window.scrollTo(0,0);
		switch(num){
			case 1 : 
					 $("#info_pic_1").attr("src","/assets/project/"+num+"/1-25e7456525b95bea4598d581322d97d2557b1822d2700ed2fd015a07b3635488.jpg");
					 $("#info_pic_2").attr("src","/assets/project/"+num+"/2-a9e19343b08316970db3ae4bd7a1fee671474ed0ef203d73d1f4c0ac6f615cc2.jpg");
					 $("#info_pic_3").attr("src","/assets/project/"+num+"/3-dd30782993417bc7a5318768f9aa768cdc8cc25622f443f51d774e590e486e26.jpg");
					 $("#info_pic_4").attr("src","/assets/project/"+num+"/4-52aa9ee4e8e86120b86324950fc92aa378b5dd49572baac1d2a28649915ef60b.jpg");
					 $("#info_pic_5").attr("src","/assets/project/"+num+"/5-fed6fd9d1d8663c593e9f8d13dc55070f992616b683d8291eb91c7c6b9ea07eb.jpg");
					 $("#info_title").html("해방촌 청소년 강의");
					 $("#info_how").html("");
					 $("#info_when").html("");
					 $("#info_com").html("해방촌 주민 커뮤니티 '달꽃창작소'의 학생들과 함께 마을 해설 프로그램 진행 <br>학생들이 자기마을을 소개하고 '마을 해설사'로서 일할 수 있도록 지역문화 강의");
					   break;
			case 2 : $("#info_pic_1").attr("src","/assets/project/"+num+"/1-5297f6321060d9eb8450dbce991543824ab12edfb9aabe63c3d43244bafb26a0.jpg");
					 $("#info_pic_2").attr("src","/assets/project/"+num+"/2-f3f55a2b07d5f59e57feadb3d679c2161769024c75ddbd9b63ea96374969ef7f.jpg");
					 $("#info_pic_3").attr("src","/assets/project/"+num+"/3-3f8ffa594ef29606531734768e0d77350fe5c87508016c684acdd769c644b25b.jpg");
					 $("#info_pic_4").attr("src","/assets/project/"+num+"/4-d066b627f4df3ce38df4f68255809fee458b0121af5ee2ff9eae9e7fa16b8a52.jpg");
					 $("#info_pic_5").attr("src","/assets/project/"+num+"/5-c76301d99bf57bb8cd6e656bde8bdd6147ad73bf3f3c4fefb0e03ce9ad5b8474.jpg");
					 $("#info_title").html("해방촌 마을지도·엽서 제작");
					 $("#info_how").html("");
					 $("#info_when").html("");
					 $("#info_com").html("이색적인 스팟과 재미난 테마 코스, 특색 있는 상가들이 한데 어우러져 있는 해방촌 마을지도 <br>거주민들과 함께 해방촌을 재미나게 즐길 수 있는 하나의 놀이 컨텐츠로 기획");
					   break;
			case 3 : $("#info_pic_1").attr("src","/assets/project/"+num+"/1-8f86dcbfdff13e7d8e9975f8f412c4d2afd0c2856c5ac2d4e1c8d3995e95361a.jpg");
					 $("#info_pic_2").attr("src","/assets/project/"+num+"/2-6f21c637e7500900ea20d2c00bf0419c467dfe9f4bae3e06b8257e164800144b.jpg");
					 $("#info_pic_3").attr("src","/assets/project/"+num+"/3-dc82b8956cdcbe4553272e8e0ea0ce806857be0b696d608c3114443926e7234d.jpg");
					 $("#info_pic_4").attr("src","/assets/project/"+num+"/4-9fece65e29201b4e94121a9b2fc9ff33dacd4599ff152ef547c846a6019f991b.jpg");
					 $("#info_pic_5").attr("src","/assets/project/"+num+"/5-8f7aafa438afc953568c49f48ef3e23be6d143bc48d3455cb8d1baa6d9cfd3d7.jpg");
					 $("#info_title").html("해방촌 마을축제 기획");
					 $("#info_how").html("");
					 $("#info_when").html("");
					 $("#info_com").html("문화와 세대를 아우르는 주민 참여형 축제 해방촌 '토요놀이마당' <br>학생들부터 노인까지 주민 모두가 축제 주최자이자 참가자가 되는 공존 페스티벌");
					   break;
			case 4 : $("#info_pic_1").attr("src","project/"+num+"/1-9cb6cd796ebad2db2b7383a8c24f83be35ffc87422640ff618623e6636c63959.jpg");
					 $("#info_pic_2").attr("src","project/"+num+"/2-61f22eceac643a8c5fc64d52a53036f008ee0c0228f7c856d512f2fd7f3aa29e.jpg");
					 $("#info_pic_3").attr("src","project/"+num+"/3-978dac274c13c7291dd38e583beeedec1939ef1744eb5a068cfae2b08cfb8f22.jpg");
					 $("#info_pic_4").attr("src","project/"+num+"/4-a8e7d11ca6793a4b64702626c8de8a951b38904ad21c3faf4397e266916ccab2.jpg");
					 $("#info_pic_5").attr("src","project/"+num+"/5-df3d019ec3b0f15f495659e6756cbf76ec4b308c5bc927bcac0bd45828dedcce.jpg");
					 $("#info_title").html("온라인 취미공유 플랫폼 ‘UNIVALUE' 제작");
					 $("#info_how").html("");
					 $("#info_when").html("");
					 $("#info_com").html("A new type of 'open college'<br>다양하고 재미난 생각들이 의미 있는  시간을 만들어 냅니다.<br>이곳에서 우리는 서로의 생각과 가치를 공유하며 이해하고 그를 통해 함께 성장해 나갑니다.");
					   break;
			case 5 : $("#info_pic_1").attr("src","project/"+num+"/1-9cb6cd796ebad2db2b7383a8c24f83be35ffc87422640ff618623e6636c63959.jpg");
					 $("#info_pic_2").attr("src","project/"+num+"/2-61f22eceac643a8c5fc64d52a53036f008ee0c0228f7c856d512f2fd7f3aa29e.jpg");
					 $("#info_pic_3").attr("src","project/"+num+"/3-db98361ea8c33f17f94dcd85221c0da88b3e2fab99869caef26f0f38f5bee3ca.jpg");
					 $("#info_pic_4").attr("src","project/"+num+"/4-4d6e3c789b85a029d180cde0d0343e4121e0f9c4d78368c188e32dae8f2b2b5b.jpg");
					 $("#info_pic_5").attr("src","project/"+num+"/5-20fe4da747f6161e737c2bbb3b5ab89c5d50b6cd3f441d0b4c80baef6eadfd77.jpg");
					 $("#info_title").html("천안 원도심 활성화 프로젝트");
					 $("#info_how").html("");
					 $("#info_when").html("");
					 $("#info_com").html("천안 원도심 커뮤니티 활성화 프로젝트<br>골목길 플레이 디렉터 지역콘텐츠 기획 프로젝트<br>맛있는 곳, 만남, 그리고 엽서<br>&quot;골목길을 걸으며 재미난 플레이 콘텐츠로 문화를 기획한다&quot;"); 
					   break;
			case 6 : $("#info_pic_1").attr("src","project/"+num+"/1-0108812b2055a093ea95f90f9419e272804f93fe850e87ebecedf9a1e1beecbb.jpg");
					 $("#info_pic_2").attr("src","project/"+num+"/2-fc0cfdc156d16e1d00d529c895963742097d581c04f64ac2a52893e5fd2f6e9a.jpg");
					 $("#info_pic_3").attr("src","project/"+num+"/3-c8ad20443dfcdad4ca3c516468351e54fa0a86963eb9e44d3f413385ac29802a.jpg");
					 $("#info_pic_4").attr("src","project/"+num+"/4-61a472a49752ce592dc9822fdba1c62231a5268b6c5d5c4f0de317397bf2cbd8.jpg");
					 $("#info_pic_5").attr("src","project/"+num+"/5-1c0c07b56a4a241a10e06e46e4ad227827d89083530a3df9d3aac98de689edb0.jpg");
					 $("#info_title").html("전주 한옥마을 ‘달달수월래’ 퍼레이드 기획");
					 $("#info_how").html("");
					 $("#info_when").html("");
					 $("#info_com").html("전주 한옥마을의 멋스러움과 우리나라 전통놀이 강강술래를 알리는 제1회 '달달수월래' 축제<br>'달달수월래' 축제의 시작을 알리는 한옥마을 길거리 퍼레이드"); 
					   break;
			case 7 : $("#info_pic_1").attr("src","project/"+num+"/1-5453eaf64a731904dfb1f776075d7cff3bb3ced961cb99fd297dc374bc938a5e.jpg");
					 $("#info_pic_2").attr("src","project/"+num+"/2-21e1e93284de7d165057e4d2de30b35f2a2023aaddc3fede168e7f627a6ec291.jpg");
					 $("#info_pic_3").attr("src","project/"+num+"/3-d95de96c9a2470a149aaaa77791d950df9e3f69c4aa1bbc91f305c1deafe21e3.jpg");
					 $("#info_pic_4").attr("src","project/"+num+"/4-7499514bafb45a6c994ebf6ecab2875b013f34d3bc910c2901afe8b5d7edd5b5.jpg");
					 $("#info_pic_5").attr("src","project/"+num+"/5-2eebd325f7eded1aad2ad53e850354a4831ec4e87e36140d7e74cbdf5e434214.jpg");
					 $("#info_title").html("전주 한옥마을 문화공간 ‘한복길’ 기획");
					 $("#info_how").html("");
					 $("#info_when").html("");
					 $("#info_com").html("먹거리와 지루함에 숨겨진 한옥마을의 골목길과 우리의 아름다운 전통 의복 한복과의 만남<br>&quot;한복을 입고 재미나게 노는 당신의 모습이 보고 싶습니다&quot;<br>전주 한옥마을을 재미나게 즐길 수 있는 새로운 문화공간 7가지 테마코스 '한복길'"); 
					   break;
			case 8 : $("#info_pic_1").attr("src","project/"+num+"/1-8f0380fe4a9ba8092c6c26d95e48e94c2234f19776622ee2137bd17ec28573ef.jpg");
					 $("#info_pic_2").attr("src","project/"+num+"/2-f56885ab1a3a7343fe8735c56d8f4c1d9da7654e67f01a43282ee00695e3f217.jpg");
					 $("#info_pic_3").attr("src","project/"+num+"/3-03cf28202445d7aa0742766c46196d6723f8c4f56cf10f7e3e9d85b7ee97d485.jpg");
					 $("#info_pic_4").attr("src","project/"+num+"/4-46edfb025e3c28e343e792279e0728d45e12a25fa2ec1019b6caf68f2d32775b.jpg");
					 $("#info_pic_5").attr("src","project/"+num+"/5-0a9c77662024ce290a90b231f2e05f99af0f8e647fadc09b770fde290df4d66d.jpg");
					 $("#info_title").html("2016 남서울대학교 한복축제");
					 $("#info_how").html("");
					 $("#info_when").html("");
					 $("#info_com").html("한복과 할로윈의 만남 <br>2016 남서울대 한복축제 '한로윈'"); 
					   break;
			case 9 : $("#info_pic_1").attr("src","project/"+num+"/1-8319cfbe2afe08b259877b6dadfc7db24426238cf8f31486990eb688d94b02a8.jpg");
					 $("#info_pic_2").attr("src","project/"+num+"/2-50f5fb045fece21fa3ebf47e30629bfb3c3e9bcc060472cc7c740fef3b92a34f.jpg");
					 $("#info_pic_3").attr("src","project/"+num+"/3-aece799948cee3144e43f181e13f67123468435f0d8f1a7f7189909f088d603d.jpg");
					 $("#info_pic_4").attr("src","project/"+num+"/4-43779264d75f69b89f4a88eca6e616b82607a556baf5ec8a32d9a09629e380a5.jpg");
					 $("#info_pic_5").attr("src","project/"+num+"/5-b9b536cb26fc93c42aa214a8d11367dcca63424772e6ce248371ad963d104635.jpg");
					 $("#info_title").html("2016 백석대학교 한복축제");
					 $("#info_how").html("");
					 $("#info_when").html("");
					 $("#info_com").html("한복과 백의민족의 만남 <br>2016 백석대학교 한복축제 '한복판'"); 
					   break;
			case 10 : $("#info_pic_1").attr("src","project/"+num+"/1-fc207dc7b61fdccd79918f83be67cea65af776fc9f05f57241cb2541560c60e9.jpg");
					  $("#info_pic_2").attr("src","project/"+num+"/2-7a161b55bcfa9138f170bd9e6acdba00dfa498eb21c0229480f4ffd7b6521669.jpg");
					  $("#info_pic_3").attr("src","project/"+num+"/3-b6d0dd52612ca43f7f085b45b68f46a86d69d3415f8eab0871e8bd2905d78117.jpg");
					  $("#info_pic_4").attr("src","project/"+num+"/4-091cd0180a20c9fe9b166161048391785c95643a29034a50c4c6e3461fc939c7.jpg");
					  $("#info_pic_5").attr("src","project/"+num+"/5-4390a5c0214eda6d13fa443a0b816d3f9d61aad49dfe2c5af9b289dbfac2968d.jpg");
					  $("#info_title").html("전주문화공간 '한복길' 테마지도&캐릭터 제작");
					  $("#info_how").html("");
					  $("#info_when").html("");
					  $("#info_com").html("전주한옥마을 문화공간 '한복길'<br>7가지 테마코스 '한복길'테마지도<br>'한복길'을 유쾌하게 소개해주고 재미나게 즐길 수 있게 도와주는 귀여운 캐릭터<br>우리 동네 지역문화콘텐츠 개발을 통한 홍보효과 상승 기대"); 
					   break;
			case 11 : $("#info_pic_1").attr("src","project/"+num+"/1-ad75544e30b732d467381380ff4495c0aa4e585478a52e7c7489c410764cf34f.jpg");
					  $("#info_pic_2").attr("src","project/"+num+"/2-8619e864405fd5e00f7060e62ccb13a84fb6135c87ab42993ef70a81ca8ccace.jpg");
					  $("#info_pic_3").attr("src","project/"+num+"/3-b8e27858b08f681306491850039d2695f0ed3e5e89ce034c4800e0bb1937e08e.jpg");
					  $("#info_pic_4").attr("src","project/"+num+"/4-09ffbe8919427163895834d64a3c319a9cbbf041828729fe02f9585e4eea6e56.jpg");
					  $("#info_pic_5").attr("src","project/"+num+"/5-f558f9d890fce3847234729f22e05c3f21f6706ff23b2942fe0d441b0bdebc79.jpg");
					  $("#info_title").html("천사책(천안사람들이야기책)");
					  $("#info_how").html("");
					  $("#info_when").html("");
					  $("#info_com").html("&quot;우리 이웃들의 이야기가 모이면 어떤 재미난 일이 일어날까?&quot;<br>'천사책'은 천안 사람들 이야기책의 줄임말 입니다<br>사업 이름에서도 알 수 있듯이 우리 지역 개인들의 이야기가 담겨있는 책입니다.<br>문화라는 커다란 테두리 안에서 그들 각자의 이야기를한권의 책에 담음으로서 많은 것을 이룰 수 있다고 생각합니다.<br>점점 삭막해지고 있는 현실 속 내 주변에 사는 사람들에 대한 관심으로 시작해 좀 더 적극적인 소통을 가능하게 하고 그러한 소통을 통해 다양한 문화를 만들  갈 수 있을 것입니다.");
					   break;
		}
	}
	
	$("#close").click(function(){
		
		$("#footer").show();
		$("#top").show();
		$(".mainview").show("fast");
		
		
	})
	
	jQuery(".owl-carousel.owl-slider").owlCarousel({
			items   : 1,
			nav     : true,
			navText : ['', ''],
			loop    : true
		});

</script>